#btn{
    font-size: 50px;
    border-radius: 0 25px;
    border: none;
    padding: 60px;
    position: relative;
    left: 25%;
    right: 25%;
    background-color: aqua;
}
.reset{
    font-size: 30px;
    padding: 40px 80;
    position: relative;
    top: 150px;
    left: 200px;

}